# sample.env
# This file contains environment variables for the Flutter News App.
# 
# BASE_URL: The base URL for the News API.
# API_KEY:  Your API key for authenticating requests to the News API.

BASE_URL = "Newsapi.org"
API_KEY = "api_key"